extends layout

block links
  //link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

block content
  .main
    h1= title
    p#title Welcome to #{title}
