doctype html
html
  head
    title= title
    block links
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='strylsheet', href='https://maxcdn.boostrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  body
    .header
      .home
      .menu
    
    block content

    .footer